html, body {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 29, 64);
  color: rgb(111, 212, 222);
  overflow: hidden;
}


.google-sans-500 {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.noto-sans-phagspa-regular {
  font-family: "Noto Sans PhagsPa", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 5%;
  background-color: rgb(62, 62, 62);
}

#deck, #hand, #discard {
  position: relative;
  text-align: center;
}

#deck img, #hand img, #discard img {
  width: 40%;
  margin: 9% 0;
  border-radius: 5px;
  filter: grayscale(90%);
}

#discard img {
  rotate: 90deg;
}

#deck .center, #hand .center, #discard .center {
  color: rgb(180, 244, 255);
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

#reset-game {
  padding: 5px;
}

.buttons div {
  width: 33%;
}

#draw, #card-on-top, #discard-card, #remove-discard {
  width: 25%;
}

.spacer {
  margin: 0 0 1% 0;
  width: 98%;
}

.buttons div img {
  width: 98%;
  border-radius: 5px;
}

#custom-input {
  position: absolute;
  height: 92%;
  margin-top: 16%;
  width: 100%;
  background-color: rgb(34, 29, 64);
  top: 0;
  left: 0;
}
#game-history {
  position: absolute;
  height: 92%;
  margin-top: 16%;
  width: 90%;
  background-color: rgb(34, 29, 64);
  top: 0;
  left: 0;
}
#pass-turn {
  text-align: center;
  margin: auto;
  font-size: 3rem;
}

#custom-input div {
  text-align: center;
  font-size: 2rem;
  padding: 15% 0 0 0;
}

#submit, #current {
  width: 50%;
}

.hidden {
  visibility: hidden;
}

#game-history {
  padding: 0 5%;
  overflow-y: scroll;
}

#close-history {
  position: fixed;
  top: 10;
  right: 20px;
  color: rgb(216, 156, 255);
  background-color: rgb(34, 29, 64);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(119, 106, 192);
}